<div class="h-full w-full">
    <p-data-view
        [paginator]="true"
        [rows]="25"
        [value]="boats()">
        <ng-template
            #list
            let-items>
            <div class="grid grid-cols-12 gap-4">
                @for (item of items; track item.id) {
                    <div class="col-span-3">{{ item.name }}</div>
                    <div class="col-span-3">{{ item.driverName }}</div>
                    <div class="col-span-3">{{ item.driverContactInfo }}</div>
                    <div class="col-span-3">{{ item.organizerName }}</div>
                }
            </div>
        </ng-template>
    </p-data-view>
</div>
