<div class="relative w-full">
    <div class="w-full p-3">
        <div class="grid grid-cols-2 gap-5">
            <input
                pInputText
                [(ngModel)]="boat().name" />

            <input
                pInputText
                [(ngModel)]="boat().region" />

            <input
                pInputText
                [(ngModel)]="boat().tripCategory" />

            <input
                pInputText
                [(ngModel)]="boat().driverContactInfo" />

            <input
                pInputText
                [(ngModel)]="boat().departingHarbor1" />

            <input
                pInputText
                [(ngModel)]="boat().departingHarbor2" />

            <input
                pInputText
                [(ngModel)]="boat().note" />

            <input
                pInputText
                [(ngModel)]="boat().organizerName" />
        </div>

        <p-button
            class="mt-5"
            label="Delete"
            severity="danger"
            type="submit"
            (onClick)="onDeleteBoatClicked()">
        </p-button>
    </div>
</div>
