:root {
    --lime-100: #efffd6;
    --lime-200: #d3f1a7;
    --lime-300: #b3df72;
    --lime-400: #94c748;
    --lime-500: #82b536;
    --lime-600: #6a9a23;
    --lime-700: #5b7f24;
    --lime-800: #4c6b1f;
    --lime-900: #37471f;
    --lime-1000: #28311b;

    --red-100: #ffeceb;
    --red-200: #ffd5d2;
    --red-300: #fd9891;
    --red-400: #f87168;
    --red-500: #f15b50;
    --red-600: #e2483d;
    --red-700: #c9372c;
    --red-800: #ae2e24;
    --red-900: #5d1f1a;
    --red-1000: #42221f;

    --orange-100: #fff3eb;
    --orange-200: #fedec8;
    --orange-300: #fec195;
    --orange-400: #fea362;
    --orange-500: #f38a3f;
    --orange-600: #e56910;
    --orange-700: #c25100;
    --orange-800: #a54800;
    --orange-900: #702e00;
    --orange-1000: #38291e;

    --yellow-100: #fff7d6;
    --yellow-200: #f8e6a0;
    --yellow-300: #f5cd47;
    --yellow-400: #e2b203;
    --yellow-500: #cf9f02;
    --yellow-600: #b38600;
    --yellow-700: #946f00;
    --yellow-800: #7f5f01;
    --yellow-900: #533f04;
    --yellow-1000: #332e1b;

    --green-100: #dcfff1;
    --green-200: #baf3db;
    --green-300: #7ee2b8;
    --green-400: #4bce97;
    --green-500: #2abb7f;
    --green-600: #22a06b;
    --green-700: #1f845a;
    --green-800: #216e4e;
    --green-900: #164b35;
    --green-1000: #1c3329;

    --teal-100: #e7f9ff;
    --teal-200: #c6edfb;
    --teal-300: #9dd9ee;
    --teal-400: #6cc3e0;
    --teal-500: #42b2d7;
    --teal-600: #2898bd;
    --teal-700: #227d9b;
    --teal-800: #206a83;
    --teal-900: #164555;
    --teal-1000: #1e3137;

    --blue-100: #e9f2ff;
    --blue-200: #cce0ff;
    --blue-300: #85b8ff;
    --blue-400: #579dff;
    --blue-500: #388bff;
    --blue-600: #1d7afc;
    --blue-700: #0c66e4;
    --blue-800: #0055cc;
    --blue-900: #09326c;
    --blue-1000: #1c2b41;

    --purple-100: #f3f0ff;
    --purple-200: #dfd8fd;
    --purple-300: #b8acf6;
    --purple-400: #9f8fef;
    --purple-500: #8f7ee7;
    --purple-600: #8270db;
    --purple-700: #6e5dc6;
    --purple-800: #5e4db2;
    --purple-900: #352c63;
    --purple-1000: #2b273f;

    --magenta-100: #ffecf8;
    --magenta-200: #fdd0ec;
    --magenta-300: #f797d2;
    --magenta-400: #e774bb;
    --magenta-500: #da62ac;
    --magenta-600: #cd519d;
    --magenta-700: #ae4787;
    --magenta-800: #943d73;
    --magenta-900: #50253f;
    --magenta-1000: #3d2232;

    --neutral-0: #ffffff;
    --neutral-100: #f7f8f9;
    --neutral-200: #f1f2f4;
    --neutral-300: #dcdfe4;
    --neutral-400: #b3b9c4;
    --neutral-500: #8590a2;
    --neutral-600: #758195;
    --neutral-700: #626f86;
    --neutral-800: #44546f;
    --neutral-900: #2c3e5d;
    --neutral-1000: #172b4d;
    --neutral-1100: #091e42;

    --neutral-100-A: #091e4208;
    --neutral-200-A: #091e420f;
    --neutral-300-A: #091e4224;
    --neutral-400-A: #091e424f;
    --neutral-500-A: #091e427d;

    --text: var(--neutral-1000);
    --text-accent-lime: var(--lime-800);
    --text-accent-lime-bolder: var(--lime-900);
    --text-accent-red: var(--red-800);
    --text-accent-red-bolder: var(--red-900);
    --text-accent-orange: var(--orange-800);
    --text-accent-orange-bolder: var(--orange-900);
    --text-accent-yellow: var(--yellow-800);
    --text-accent-yellow-bolder: var(--yellow-900);
    --text-accent-green: var(--green-800);
    --text-accent-green-bolder: var(--green-900);
    --text-accent-teal: var(--teal-800);
    --text-accent-teal-bolder: var(--teal-900);
    --text-accent-blue: var(--blue-800);
    --text-accent-blue-bolder: var(--blue-900);
    --text-accent-purple: var(--purple-800);
    --text-accent-purple-bolder: var(--purple-900);
    --text-accent-magenta: var(--magenta-800);
    --text-accent-magenta-bolder: var(--magenta-900);
    --text-accent-gray: var(--neutral-800);
    --text-accent-gray-bolder: var(--neutral-1100);
    --text-disabled: var(--neutral-400-A);
    --text-inverse: var(--neutral-0);
    --text-selected: var(--blue-700);
    --text-brand: var(--blue-700);
    --text-danger: var(--red-800);
    --text-warning: var(--orange-800);
    --text-warning-inverse: var(--neutral-1000);
    --text-success: var(--green-800);
    --text-discovery: var(--purple-800);
    --text-information: var(--blue-800);
    --text-subtlest: var(--neutral-700);
    --text-subtle: var(--neutral-800);

    --link: var(--blue-700);
    --link-pressed: var(--blue-800);
    --link-visited: var(--purple-700);
    --link-visited-pressed: var(--purple-800);

    --icon: var(--neutral-800);
    --icon-accent-lime: var(--lime-600);
    --icon-accent-red: var(--red-700);
    --icon-accent-orange: var(--orange-600);
    --icon-accent-yellow: var(--yellow-600);
    --icon-accent-green: var(--green-600);
    --icon-accent-teal: var(--teal-600);
    --icon-accent-blue: var(--blue-600);
    --icon-accent-purple: var(--purple-600);
    --icon-accent-magenta: var(--magenta-600);
    --icon-accent-gray: var(--neutral-600);
    --icon-disalbed: var(--neutral-400-A);
    --icon-inverse: var(--neutral-0);
    --icon-brand: var(--blue-700);
    --icon-danger: var(--red-700);
    --icon-warning: var(--orange-600);
    --icon-warning-inverse: var(--neutral-1000);
    --icon-success: var(--green-600);
    --icon-discovery: var(--purple-600);
    --icon-information: var(--blue-600);
    --icon-subtle: var(--neutral-700);

    --border: var(--neutral-300-A);
    --border-accent-lime: var(--lime-600);
    --border-accent-red: var(--red-600);
    --border-accent-orange: var(--orange-600);
    --border-accent-yellow: var(--yellow-600);
    --border-accent-green: var(--green-600);
    --border-accent-teal: var(--teal-600);
    --border-accent-blue: var(--blue-600);
    --border-accent-purple: var(--purple-600);
    --border-accent-magenta: var(--magenta-600);
    --border-accent-gray: var(--neutral-600);
    --border-disabled: var(--neutral-200-A);
    --border-focus: var(--blue-500);
    --border-input: var(--neutral-500);
    --border-inverse: var(--neutral-0);
    --border-selected: var(--blue-700);
    --border-brand: var(--blue-700);
    --border-danger: var(--red-700);
    --border-warning: var(--orange-600);
    --border-warning-inverse: var(--neutral-1000);
    --border-success: var(--green-600);
    --border-discovery: var(--purple-600);
    --border-information: var(--blue-600);
    --border-bold: var(--neutral-600);

    --background-accent-lime-subtlest: var(--lime-100);
    --background-accent-lime-subtlest-hovered: var(--lime-200);
    --background-accent-lime-subtlest-pressed: var(--lime-300);
    --background-accent-lime-subtler: var(--lime-200);
    --background-accent-lime-subtler-hovered: var(--lime-300);
    --background-accent-lime-subtler-pressed: var(--lime-400);
    --background-accent-lime-subtle: var(--lime-400);
    --background-accent-lime-subtle-hovered: var(--lime-300);
    --background-accent-lime-subtle-pressed: var(--lime-200);
    --background-accent-lime-bolder: var(--lime-700);
    --background-accent-lime-bolder-hovered: var(--lime-800);
    --background-accent-lime-bolder-pressed: var(--lime-900);

    --background-accent-red-subtlest: var(--red-100);
    --background-accent-red-subtlest-hovered: var(--red-200);
    --background-accent-red-subtlest-pressed: var(--red-300);
    --background-accent-red-subtler: var(--red-200);
    --background-accent-red-subtler-hovered: var(--red-300);
    --background-accent-red-subtler-pressed: var(--red-400);
    --background-accent-red-subtle: var(--red-400);
    --background-accent-red-subtle-hovered: var(--red-300);
    --background-accent-red-subtle-pressed: var(--red-200);
    --background-accent-red-bolder: var(--red-700);
    --background-accent-red-bolder-hovered: var(--red-800);
    --background-accent-red-bolder-pressed: var(--red-900);

    --background-accent-orange-subtlest: var(--orange-100);
    --background-accent-orange-subtlest-hovered: var(--orange-200);
    --background-accent-orange-subtlest-pressed: var(--orange-300);
    --background-accent-orange-subtler: var(--orange-200);
    --background-accent-orange-subtler-hovered: var(--orange-300);
    --background-accent-orange-subtler-pressed: var(--orange-400);
    --background-accent-orange-subtle: var(--orange-400);
    --background-accent-orange-subtle-hovered: var(--orange-300);
    --background-accent-orange-subtle-pressed: var(--orange-200);
    --background-accent-orange-bolder: var(--orange-700);
    --background-accent-orange-bolder-hovered: var(--orange-800);
    --background-accent-orange-bolder-pressed: var(--orange-900);

    --background-accent-yellow-subtlest: var(--yellow-100);
    --background-accent-yellow-subtlest-hovered: var(--yellow-200);
    --background-accent-yellow-subtlest-pressed: var(--yellow-300);
    --background-accent-yellow-subtler: var(--yellow-200);
    --background-accent-yellow-subtler-hovered: var(--yellow-300);
    --background-accent-yellow-subtler-pressed: var(--yellow-400);
    --background-accent-yellow-subtle: var(--yellow-400);
    --background-accent-yellow-subtle-hovered: var(--yellow-300);
    --background-accent-yellow-subtle-pressed: var(--yellow-200);
    --background-accent-yellow-bolder: var(--yellow-700);
    --background-accent-yellow-bolder-hovered: var(--yellow-800);
    --background-accent-yellow-bolder-pressed: var(--yellow-900);

    --background-accent-green-subtlest: var(--green-100);
    --background-accent-green-subtlest-hovered: var(--green-200);
    --background-accent-green-subtlest-pressed: var(--green-300);
    --background-accent-green-subtler: var(--green-200);
    --background-accent-green-subtler-hovered: var(--green-300);
    --background-accent-green-subtler-pressed: var(--green-400);
    --background-accent-green-subtle: var(--green-400);
    --background-accent-green-subtle-hovered: var(--green-300);
    --background-accent-green-subtle-pressed: var(--green-200);
    --background-accent-green-bolder: var(--green-700);
    --background-accent-green-bolder-hovered: var(--green-800);
    --background-accent-green-bolder-pressed: var(--green-900);

    --background-accent-teal-subtlest: var(--teal-100);
    --background-accent-teal-subtlest-hovered: var(--teal-200);
    --background-accent-teal-subtlest-pressed: var(--teal-300);
    --background-accent-teal-subtler: var(--teal-200);
    --background-accent-teal-subtler-hovered: var(--teal-300);
    --background-accent-teal-subtler-pressed: var(--teal-400);
    --background-accent-teal-subtle: var(--teal-400);
    --background-accent-teal-subtle-hovered: var(--teal-300);
    --background-accent-teal-subtle-pressed: var(--teal-200);
    --background-accent-teal-bolder: var(--teal-700);
    --background-accent-teal-bolder-hovered: var(--teal-800);
    --background-accent-teal-bolder-pressed: var(--teal-900);

    --background-accent-blue-subtlest: var(--blue-100);
    --background-accent-blue-subtlest-hovered: var(--blue-200);
    --background-accent-blue-subtlest-pressed: var(--blue-300);
    --background-accent-blue-subtler: var(--blue-200);
    --background-accent-blue-subtler-hovered: var(--blue-300);
    --background-accent-blue-subtler-pressed: var(--blue-400);
    --background-accent-blue-subtle: var(--blue-400);
    --background-accent-blue-subtle-hovered: var(--blue-300);
    --background-accent-blue-subtle-pressed: var(--blue-200);
    --background-accent-blue-bolder: var(--blue-700);
    --background-accent-blue-bolder-hovered: var(--blue-800);
    --background-accent-blue-bolder-pressed: var(--blue-900);

    --background-accent-purple-subtlest: var(--purple-100);
    --background-accent-purple-subtlest-hovered: var(--purple-200);
    --background-accent-purple-subtlest-pressed: var(--purple-300);
    --background-accent-purple-subtler: var(--purple-200);
    --background-accent-purple-subtler-hovered: var(--purple-300);
    --background-accent-purple-subtler-pressed: var(--purple-400);
    --background-accent-purple-subtle: var(--purple-400);
    --background-accent-purple-subtle-hovered: var(--purple-300);
    --background-accent-purple-subtle-pressed: var(--purple-200);
    --background-accent-purple-bolder: var(--purple-700);
    --background-accent-purple-bolder-hovered: var(--purple-800);
    --background-accent-purple-bolder-pressed: var(--purple-900);

    --background-accent-magenta-subtlest: var(--magenta-100);
    --background-accent-magenta-subtlest-hovered: var(--magenta-200);
    --background-accent-magenta-subtlest-pressed: var(--magenta-300);
    --background-accent-magenta-subtler: var(--magenta-200);
    --background-accent-magenta-subtler-hovered: var(--magenta-300);
    --background-accent-magenta-subtler-pressed: var(--magenta-400);
    --background-accent-magenta-subtle: var(--magenta-400);
    --background-accent-magenta-subtle-hovered: var(--magenta-300);
    --background-accent-magenta-subtle-pressed: var(--magenta-200);
    --background-accent-magenta-bolder: var(--magenta-700);
    --background-accent-magenta-bolder-hovered: var(--magenta-800);
    --background-accent-magenta-bolder-pressed: var(--magenta-900);

    --background-accent-gray-subtlest: var(--neutral-100);
    --background-accent-gray-subtlest-hovered: var(--neutral-200);
    --background-accent-gray-subtlest-pressed: var(--neutral-300);
    --background-accent-gray-subtler: var(--neutral-200);
    --background-accent-gray-subtler-hovered: var(--neutral-300);
    --background-accent-gray-subtler-pressed: var(--neutral-400);
    --background-accent-gray-subtle: var(--neutral-400);
    --background-accent-gray-subtle-hovered: var(--neutral-300);
    --background-accent-gray-subtle-pressed: var(--neutral-200);
    --background-accent-gray-bolder: var(--neutral-700);
    --background-accent-gray-bolder-hovered: var(--neutral-800);
    --background-accent-gray-bolder-pressed: var(--neutral-900);

    --background-disabled: var(--neutral-100-A);
    --background-input: var(--neutral-0);
    --background-input-hovered: var(--neutral-100);
    --background-input-pressed: var(--neutral-0);
    --background-inverse-subtle: #00000029;
    --background-inverse-subtle-hovered: #0000003d;
    --background-inverse-subtle-pressed: #00000052;
    --background-neutral: var(--neutral-200-A);
    --background-neutral-hovered: var(--neutral-300-A);
    --background-neutral-pressed: var(--neutral-400-A);

    --background-neutral-subtle: transparent;
    --background-neutral-subtle-hovered: var(--neutral-200-A);
    --background-neutral-subtle-pressed: var(--neutral-300-A);

    --background-neutral-bold: var(--neutral-800);
    --background-neutral-bold-hovered: var(--neutral-900);
    --background-neutral-bold-pressed: var(--neutral-1000);

    --background-selected: var(--blue-100);
    --background-selected-hovered: var(--blue-200);
    --background-selected-pressed: var(--blue-300);

    --background-selected-bold: var(--blue-700);
    --background-selected-bold-hovered: var(--blue-800);
    --background-selected-bold-pressed: var(--blue-900);

    --background-subtlest: var(--blue-100);
    --background-subtlest-hovered: var(--blue-200);
    --background-subtlest-pressed: var(--blue-300);

    --background-bold: var(--blue-700);
    --background-bold-hovered: var(--blue-800);
    --background-bold-pressed: var(--blue-900);

    --background-boldest: var(--blue-1000);
    --background-boldest-hovered: var(--blue-900);
    --background-boldest-pressed: var(--blue-800);
}

:root[data-mode='dark'] {
    --neutral-0: #161a1d;
    --neutral-100: #1d2125;
    --neutral-200: #22272b;
    --neutral-250: #282e33;
    --neutral-300: #2c333a;
    --neutral-350: #38414a;
    --neutral-400: #454f59;
    --neutral-500: #596773;
    --neutral-600: #738496;
    --neutral-700: #8c9bab;
    --neutral-800: #9fadbc;
    --neutral-900: #b6c2cf;
    --neutral-1000: #c7d1db;
    --neutral-1100: #dee4ea;

    --neutral-100-A: #bcd6f00a;
    --neutral-200-A: #a1bdd914;
    --neutral-250-A: #c8e1f91a;
    --neutral-300-A: #a6c5e229;
    --neutral-350-A: #c3defe33;
    --neutral-400-A: #bfdbf847;
    --neutral-500-A: #9bb4ca80;
}
