:root {
    --lime-100: #efffd6;
    --lime-200: #d3f1a7;
    --lime-300: #b3df72;
    --lime-400: #94c748;
    --lime-500: #82b536;
    --lime-600: #6a9a23;
    --lime-700: #5b7f24;
    --lime-800: #4c6b1f;
    --lime-900: #37471f;
    --lime-1000: #28311b;

    --red-100: #ffeceb;
    --red-200: #ffd5d2;
    --red-300: #fd9891;
    --red-400: #f87168;
    --red-500: #f15b50;
    --red-600: #e2483d;
    --red-700: #c9372c;
    --red-800: #ae2e24;
    --red-900: #5d1f1a;
    --red-1000: #42221f;

    --orange-100: #fff3eb;
    --orange-200: #fedec8;
    --orange-300: #fec195;
    --orange-400: #fea362;
    --orange-500: #f38a3f;
    --orange-600: #e56910;
    --orange-700: #c25100;
    --orange-800: #a54800;
    --orange-900: #702e00;
    --orange-1000: #38291e;

    --yellow-100: #fff7d6;
    --yellow-200: #f8e6a0;
    --yellow-300: #f5cd47;
    --yellow-400: #e2b203;
    --yellow-500: #cf9f02;
    --yellow-600: #b38600;
    --yellow-700: #946f00;
    --yellow-800: #7f5f01;
    --yellow-900: #533f04;
    --yellow-1000: #332e1b;

    --green-100: #dcfff1;
    --green-200: #baf3db;
    --green-300: #7ee2b8;
    --green-400: #4bce97;
    --green-500: #2abb7f;
    --green-600: #22a06b;
    --green-700: #1f845a;
    --green-800: #216e4e;
    --green-900: #164b35;
    --green-1000: #1c3329;

    --teal-100: #e7f9ff;
    --teal-200: #c6edfb;
    --teal-300: #9dd9ee;
    --teal-400: #6cc3e0;
    --teal-500: #42b2d7;
    --teal-600: #2898bd;
    --teal-700: #227d9b;
    --teal-800: #206a83;
    --teal-900: #164555;
    --teal-1000: #1e3137;

    --blue-100: #e9f2ff;
    --blue-200: #cce0ff;
    --blue-300: #85b8ff;
    --blue-400: #579dff;
    --blue-500: #388bff;
    --blue-600: #1d7afc;
    --blue-700: #0c66e4;
    --blue-800: #0055cc;
    --blue-900: #09326c;
    --blue-1000: #1c2b41;

    --purple-100: #f3f0ff;
    --purple-200: #dfd8fd;
    --purple-300: #b8acf6;
    --purple-400: #9f8fef;
    --purple-500: #8f7ee7;
    --purple-600: #8270db;
    --purple-700: #6e5dc6;
    --purple-800: #5e4db2;
    --purple-900: #352c63;
    --purple-1000: #2b273f;

    --magenta-100: #ffecf8;
    --magenta-200: #fdd0ec;
    --magenta-300: #f797d2;
    --magenta-400: #e774bb;
    --magenta-500: #da62ac;
    --magenta-600: #cd519d;
    --magenta-700: #ae4787;
    --magenta-800: #943d73;
    --magenta-900: #50253f;
    --magenta-1000: #3d2232;

    --neutral-0: #ffffff;
    --neutral-100: #f7f8f9;
    --neutral-200: #f1f2f4;
    --neutral-300: #dcdfe4;
    --neutral-400: #b3b9c4;
    --neutral-500: #8590a2;
    --neutral-600: #758195;
    --neutral-700: #626f86;
    --neutral-800: #44546f;
    --neutral-900: #2c3e5d;
    --neutral-1000: #172b4d;
    --neutral-1100: #091e42;

    --neutral-100-A: #091e4208;
    --neutral-200-A: #091e420f;
    --neutral-300-A: #091e4224;
    --neutral-400-A: #091e424f;
    --neutral-500-A: #091e427d;

    --brand: var(--blue-700);
    --brand-hovered: var(--blue-800);
    --brand-pressed: var(--blue-900);

    --success: var(--green-500);
    --success-hovered: var(--green-600);
    --success-pressed: var(--green-700);

    --danger: var(--red-500);
    --danger-hovered: var(--red-600);
    --danger-pressed: var(--red-700);

    --warning: var(--orange-500);
    --warning-hovered: var(--orange-600);
    --warning-pressed: var(--orange-700);

    --information: var(--blue-600);
    --information-hovered: var(--blue-700);
    --information-pressed: var(--blue-800);

    --discovery: var(--purple-500);
    --discovery-hovered: var(--purple-600);
    --discovery-pressed: var(--purple-700);

    --text: var(--neutral-1000);
    --text-disabled: var(--neutral-400-A);
    --text-inverse: var(--neutral-0);

    --link: var(--blue-700);
    --link-pressed: var(--blue-800);
    --link-visited: var(--purple-700);
    --link-visited-pressed: var(--purple-800);

    --icon: var(--neutral-800);
    --icon-disalbed: var(--neutral-400-A);

    --border: var(--neutral-300-A);
    --border-disabled: var(--neutral-200-A);
    --border-focus: var(--blue-500);
    --border-input: var(--neutral-500);
    --border-bold: var(--neutral-600);

    --surface: var(--neutral-0);
    --surface-hovered: var(--neutral-200);
    --surface-pressed: var(--neutral-300);

    --surface-overlay: var(--neutral-0);
    --surface-overlay-hovered: var(--neutral-200);
    --surface-overlay-pressed: var(--neutral-300);

    --surface-raised: var(--neutral-0);
    --surface-raised-hovered: var(--neutral-200);
    --surface-raised-pressed: var(--neutral-300);

    --surface-sunken: var(--neutral-100);

    --background-disabled: var(--neutral-100-A);
    --background-input: var(--neutral-0);
    --background-input-hovered: var(--neutral-100);
    --background-input-pressed: var(--neutral-0);

    --background-selected: var(--blue-100);
    --background-selected-hovered: var(--blue-200);
    --background-selected-pressed: var(--blue-300);
}

:root[data-mode='dark'] {
    --neutral-0: #161a1d;
    --neutral-100: #1d2125;
    --neutral-200: #22272b;
    --neutral-250: #282e33;
    --neutral-300: #2c333a;
    --neutral-350: #38414a;
    --neutral-400: #454f59;
    --neutral-500: #596773;
    --neutral-600: #738496;
    --neutral-700: #8c9bab;
    --neutral-800: #9fadbc;
    --neutral-900: #b6c2cf;
    --neutral-1000: #c7d1db;
    --neutral-1100: #dee4ea;

    --neutral-100-A: #bcd6f00a;
    --neutral-200-A: #a1bdd914;
    --neutral-250-A: #c8e1f91a;
    --neutral-300-A: #a6c5e229;
    --neutral-350-A: #c3defe33;
    --neutral-400-A: #bfdbf847;
    --neutral-500-A: #9bb4ca80;
}
