:root {
    --lime-100: #EFFFD6;
    --lime-200: #D3F1A7;
    --lime-300: #B3DF72;
    --lime-400: #94C748;
    --lime-500: #82B536;
    --lime-600: #6A9A23;
    --lime-700: #5B7F24;
    --lime-800: #4C6B1F;
    --lime-900: #37471F;
    --lime-1000: #28311B;

    --red-100: #FFECEB;
    --red-200: #FFD5D2;
    --red-300: #FD9891;
    --red-400: #F87168;
    --red-500: #F15B50;
    --red-600: #E2483D;
    --red-700: #C9372C;
    --red-800: #AE2E24;
    --red-900: #5D1F1A;
    --red-1000: #42221F;

    --orange-100: #FFF3EB;
    --orange-200: #FEDEC8;
    --orange-300: #FEC195;
    --orange-400: #FEA362;
    --orange-500: #F38A3F;
    --orange-600: #E56910;
    --orange-700: #C25100;
    --orange-800: #A54800;
    --orange-900: #702E00;
    --orange-1000: #38291E;

    --yellow-100: #FFF7D6;
    --yellow-200: #F8E6A0;
    --yellow-300: #F5CD47;
    --yellow-400: #E2B203;
    --yellow-500: #CF9F02;
    --yellow-600: #B38600;
    --yellow-700: #946F00;
    --yellow-800: #7F5F01;
    --yellow-900: #533F04;
    --yellow-1000: #332E1B;

    --green-100: #DCFFF1;
    --green-200: #BAF3DB;
    --green-300: #7EE2B8;
    --green-400: #4BCE97;
    --green-500: #2ABB7F;
    --green-600: #22A06B;
    --green-700: #1F845A;
    --green-800: #216E4E;
    --green-900: #164B35;
    --green-1000: #1C3329;

    --teal-100: #E7F9FF;
    --teal-200: #C6EDFB;
    --teal-300: #9DD9EE;
    --teal-400: #6CC3E0;
    --teal-500: #42B2D7;
    --teal-600: #2898BD;
    --teal-700: #227D9B;
    --teal-800: #206A83;
    --teal-900: #164555;
    --teal-1000: #1E3137;

    --blue-100: #E9F2FF;
    --blue-200: #CCE0FF;
    --blue-300: #85B8FF;
    --blue-400: #579DFF;
    --blue-500: #388BFF;
    --blue-600: #1D7AFC;
    --blue-700: #0C66E4;
    --blue-800: #0055CC;
    --blue-900: #09326C;
    --blue-1000: #1C2B41;

    --purple-100: #F3F0FF;
    --purple-200: #DFD8FD;
    --purple-300: #B8ACF6;
    --purple-400: #9F8FEF;
    --purple-500: #8F7EE7;
    --purple-600: #8270DB;
    --purple-700: #6E5DC6;
    --purple-800: #5E4DB2;
    --purple-900: #352C63;
    --purple-1000: #2B273F;

    --magenta-100: #FFECF8;
    --magenta-200: #FDD0EC;
    --magenta-300: #F797D2;
    --magenta-400: #E774BB;
    --magenta-500: #DA62AC;
    --magenta-600: #CD519D;
    --magenta-700: #AE4787;
    --magenta-800: #943D73;
    --magenta-900: #50253F;
    --magenta-1000: #3D2232;

    --neutral-0: #FFFFFF;
    --neutral-100: #F7F8F9;
    --neutral-200: #F1F2F4;
    --neutral-300: #DCDFE4;
    --neutral-400: #B3B9C4;
    --neutral-500: #8590A2;
    --neutral-600: #758195;
    --neutral-700: #626F86;
    --neutral-800: #44546F;
    --neutral-900: #2C3E5D;
    --neutral-1000: #172B4D;
    --neutral-1100: #091E42;

    --neutral-100-A: #091E4208;
    --neutral-200-A: #091E420F;
    --neutral-300-A: #091E4224;
    --neutral-400-A: #091E424F;
    --neutral-500-A: #091E427D;

    --text: var(--neutral-1000);
    --text-accent-lime: var(--lime-800);
    --text-accent-lime-bolder: var(--lime-900);
    --text-accent-red: var(--red-800);
    --text-accent-red-bolder: var(--red-900);
    --text-accent-orange: var(--orange-800);
    --text-accent-orange-bolder: var(--orange-900);
    --text-accent-yellow: var(--yellow-800);
    --text-accent-yellow-bolder: var(--yellow-900);
    --text-accent-green: var(--green-800);
    --text-accent-green-bolder: var(--green-900);
    --text-accent-teal: var(--teal-800);
    --text-accent-teal-bolder: var(--teal-900);
    --text-accent-blue: var(--blue-800);
    --text-accent-blue-bolder: var(--blue-900);
    --text-accent-purple: var(--purple-800);
    --text-accent-purple-bolder: var(--purple-900);
    --text-accent-magenta: var(--magenta-800);
    --text-accent-magenta-bolder: var(--magenta-900);
    --text-accent-gray: var(--neutral-800);
    --text-accent-gray-bolder: var(--neutral-1100);
    --text-disabled: var(--neutral-400-A);
    --text-inverse: var(--neutral-0);
    --text-selected: var(--blue-700);
    --text-brand: var(--blue-700);
    --text-danger: var(--red-800);
    --text-warning: var(--orange-800);
    --text-warning-inverse: var(--neutral-1000);
    --text-success: var(--green-800);
    --text-discovery: var(--purple-800);
    --text-information: var(--blue-800);
    --text-subtlest: var(--neutral-700);
    --text-subtle: var(--neutral-800);

    --link: var(--blue-700);
    --link-pressed: var(--blue-800);
    --link-visited: var(--purple-700);
    --link-visited-pressed: var(--purple-800);

    --icon: var(--neutral-800);
    --icon-accent-lime: var(--lime-600);
    --icon-accent-red: var(--red-700);
    --icon-accent-orange: var(--orange-600);
    --icon-accent-yellow: var(--yellow-600);
    --icon-accent-green: var(--green-600);
    --icon-accent-teal: var(--teal-600);
    --icon-accent-blue: var(--blue-600);
    --icon-accent-purple: var(--purple-600);
    --icon-accent-magenta: var(--magenta-600);
    --icon-accent-gray: var(--neutral-600);
    --icon-disalbed: var(--neutral-400-A);
    --icon-inverse: var(--neutral-0);
    --icon-brand: var(--blue-700);
    --icon-danger: var(--red-700);
    --icon-warning: var(--orange-600);
    --icon-warning-inverse: var(--neutral-1000);
    --icon-success: var(--green-600);
    --icon-discovery: var(--purple-600);
    --icon-information: var(--blue-600);
    --icon-subtle: var(--neutral-700);

    --border: var(--neutral-300-A);
    --border-accent-lime: var(--lime-600);
    --border-accent-red: var(--red-600);
    --border-accent-orange: var(--orange-600);
    --border-accent-yellow: var(--yellow-600);
    --border-accent-green: var(--green-600);
    --border-accent-teal: var(--teal-600);
    --border-accent-blue: var(--blue-600);
    --border-accent-purple: var(--purple-600);
    --border-accent-magenta: var(--magenta-600);
    --border-accent-gray: var(--neutral-600);
    --border-disabled: var(--neutral-200-A);
    --border-focus: var(--blue-500);
    --border-input: var(--neutral-500);
    --border-inverse: var(--neutral-0);
    --border-selected: var(--blue-700);
    --border-brand: var(--blue-700);
    --border-danger: var(--red-700);
    --border-warning: var(--orange-600);
    --border-warning-inverse: var(--neutral-1000);
    --border-success: var(--green-600);
    --border-discovery: var(--purple-600);
    --border-information: var(--blue-600);
    --border-bold: var(--neutral-600);

    --background-accent-lime-subtlest: var(--lime-100);
    --background-accent-lime-subtlest-hovered: var(--lime-200);
    --background-accent-lime-subtlest-pressed: var(--lime-300);
    --background-accent-lime-subtler: var(--lime-200);
    --background-accent-lime-subtler-hovered: var(--lime-300);
    --background-accent-lime-subtler-pressed: var(--lime-400);
    --background-accent-lime-subtle: var(--lime-400);
    --background-accent-lime-subtle-hovered: var(--lime-300);
    --background-accent-lime-subtle-pressed: var(--lime-200);
    --background-accent-lime-bolder: var(--lime-700);
    --background-accent-lime-bolder-hovered: var(--lime-800);
    --background-accent-lime-bolder-pressed: var(--lime-900);

    --background-accent-red-subtlest: var(--red-100);
    --background-accent-red-subtlest-hovered: var(--red-200);
    --background-accent-red-subtlest-pressed: var(--red-300);
    --background-accent-red-subtler: var(--red-200);
    --background-accent-red-subtler-hovered: var(--red-300);
    --background-accent-red-subtler-pressed: var(--red-400);
    --background-accent-red-subtle: var(--red-400);
    --background-accent-red-subtle-hovered: var(--red-300);
    --background-accent-red-subtle-pressed: var(--red-200);
    --background-accent-red-bolder: var(--red-700);
    --background-accent-red-bolder-hovered: var(--red-800);
    --background-accent-red-bolder-pressed: var(--red-900);

    --background-accent-orange-subtlest: var(--orange-100);
    --background-accent-orange-subtlest-hovered: var(--orange-200);
    --background-accent-orange-subtlest-pressed: var(--orange-300);
    --background-accent-orange-subtler: var(--orange-200);
    --background-accent-orange-subtler-hovered: var(--orange-300);
    --background-accent-orange-subtler-pressed: var(--orange-400);
    --background-accent-orange-subtle: var(--orange-400);
    --background-accent-orange-subtle-hovered: var(--orange-300);
    --background-accent-orange-subtle-pressed: var(--orange-200);
    --background-accent-orange-bolder: var(--orange-700);
    --background-accent-orange-bolder-hovered: var(--orange-800);
    --background-accent-orange-bolder-pressed: var(--orange-900);

    --background-accent-yellow-subtlest: var(--yellow-100);
    --background-accent-yellow-subtlest-hovered: var(--yellow-200);
    --background-accent-yellow-subtlest-pressed: var(--yellow-300);
    --background-accent-yellow-subtler: var(--yellow-200);
    --background-accent-yellow-subtler-hovered: var(--yellow-300);
    --background-accent-yellow-subtler-pressed: var(--yellow-400);
    --background-accent-yellow-subtle: var(--yellow-400);
    --background-accent-yellow-subtle-hovered: var(--yellow-300);
    --background-accent-yellow-subtle-pressed: var(--yellow-200);
    --background-accent-yellow-bolder: var(--yellow-700);
    --background-accent-yellow-bolder-hovered: var(--yellow-800);
    --background-accent-yellow-bolder-pressed: var(--yellow-900);

    --background-accent-green-subtlest: var(--green-100);
    --background-accent-green-subtlest-hovered: var(--green-200);
    --background-accent-green-subtlest-pressed: var(--green-300);
    --background-accent-green-subtler: var(--green-200);
    --background-accent-green-subtler-hovered: var(--green-300);
    --background-accent-green-subtler-pressed: var(--green-400);
    --background-accent-green-subtle: var(--green-400);
    --background-accent-green-subtle-hovered: var(--green-300);
    --background-accent-green-subtle-pressed: var(--green-200);
    --background-accent-green-bolder: var(--green-700);
    --background-accent-green-bolder-hovered: var(--green-800);
    --background-accent-green-bolder-pressed: var(--green-900);

    --background-accent-teal-subtlest: var(--teal-100);
    --background-accent-teal-subtlest-hovered: var(--teal-200);
    --background-accent-teal-subtlest-pressed: var(--teal-300);
    --background-accent-teal-subtler: var(--teal-200);
    --background-accent-teal-subtler-hovered: var(--teal-300);
    --background-accent-teal-subtler-pressed: var(--teal-400);
    --background-accent-teal-subtle: var(--teal-400);
    --background-accent-teal-subtle-hovered: var(--teal-300);
    --background-accent-teal-subtle-pressed: var(--teal-200);
    --background-accent-teal-bolder: var(--teal-700);
    --background-accent-teal-bolder-hovered: var(--teal-800);
    --background-accent-teal-bolder-pressed: var(--teal-900);

    --background-accent-blue-subtlest: var(--blue-100);
    --background-accent-blue-subtlest-hovered: var(--blue-200);
    --background-accent-blue-subtlest-pressed: var(--blue-300);
    --background-accent-blue-subtler: var(--blue-200);
    --background-accent-blue-subtler-hovered: var(--blue-300);
    --background-accent-blue-subtler-pressed: var(--blue-400);
    --background-accent-blue-subtle: var(--blue-400);
    --background-accent-blue-subtle-hovered: var(--blue-300);
    --background-accent-blue-subtle-pressed: var(--blue-200);
    --background-accent-blue-bolder: var(--blue-700);
    --background-accent-blue-bolder-hovered: var(--blue-800);
    --background-accent-blue-bolder-pressed: var(--blue-900);

    --background-accent-purple-subtlest: var(--purple-100);
    --background-accent-purple-subtlest-hovered: var(--purple-200);
    --background-accent-purple-subtlest-pressed: var(--purple-300);
    --background-accent-purple-subtler: var(--purple-200);
    --background-accent-purple-subtler-hovered: var(--purple-300);
    --background-accent-purple-subtler-pressed: var(--purple-400);
    --background-accent-purple-subtle: var(--purple-400);
    --background-accent-purple-subtle-hovered: var(--purple-300);
    --background-accent-purple-subtle-pressed: var(--purple-200);
    --background-accent-purple-bolder: var(--purple-700);
    --background-accent-purple-bolder-hovered: var(--purple-800);
    --background-accent-purple-bolder-pressed: var(--purple-900);

    --background-accent-magenta-subtlest: var(--magenta-100);
    --background-accent-magenta-subtlest-hovered: var(--magenta-200);
    --background-accent-magenta-subtlest-pressed: var(--magenta-300);
    --background-accent-magenta-subtler: var(--magenta-200);
    --background-accent-magenta-subtler-hovered: var(--magenta-300);
    --background-accent-magenta-subtler-pressed: var(--magenta-400);
    --background-accent-magenta-subtle: var(--magenta-400);
    --background-accent-magenta-subtle-hovered: var(--magenta-300);
    --background-accent-magenta-subtle-pressed: var(--magenta-200);
    --background-accent-magenta-bolder: var(--magenta-700);
    --background-accent-magenta-bolder-hovered: var(--magenta-800);
    --background-accent-magenta-bolder-pressed: var(--magenta-900);

    --background-accent-gray-subtlest: var(--neutral-100);
    --background-accent-gray-subtlest-hovered: var(--neutral-200);
    --background-accent-gray-subtlest-pressed: var(--neutral-300);
    --background-accent-gray-subtler: var(--neutral-200);
    --background-accent-gray-subtler-hovered: var(--neutral-300);
    --background-accent-gray-subtler-pressed: var(--neutral-400);
    --background-accent-gray-subtle: var(--neutral-400);
    --background-accent-gray-subtle-hovered: var(--neutral-300);
    --background-accent-gray-subtle-pressed: var(--neutral-200);
    --background-accent-gray-bolder: var(--neutral-700);
    --background-accent-gray-bolder-hovered: var(--neutral-800);
    --background-accent-gray-bolder-pressed: var(--neutral-900);

    --background-disabled: var(--neutral-100-A);
    --background-input: var(--neutral-0);
    --background-input-hovered: var(--neutral-100);
    --background-input-pressed: var(--neutral-0);
    --background-inverse-subtle: #00000029;
    --background-inverse-subtle-hovered: #0000003D;
    --background-inverse-subtle-pressed: #00000052;
    --background-neutral: var(--neutral-200-A);
    --background-neutral-hovered: var(--neutral-300-A);
    --background-neutral-pressed: var(--neutral-400-A);

    --background-neutral-subtle: transparent;
    --background-neutral-subtle-hovered: var(--neutral-200-A);
    --background-neutral-subtle-pressed: var(--neutral-300-A);

    --background-neutral-bold: var(--neutral-800);
    --background-neutral-bold-hovered: var(--neutral-900);
    --background-neutral-bold-pressed: var(--neutral-1000);

    --background-selected: var(--blue-100);
    --background-selected-hovered: var(--blue-200);
    --background-selected-pressed: var(--blue-300);

    --background-selected-bold: var(--blue-700);
    --background-selected-bold-hovered: var(--blue-800);
    --background-selected-bold-pressed: var(--blue-900);

    --background-subtlest: var(--blue-100);
    --background-subtlest-hovered: var(--blue-200);
    --background-subtlest-pressed: var(--blue-300);

    --background-bold: var(--blue-700);
    --background-bold-hovered: var(--blue-800);
    --background-bold-pressed: var(--blue-900);

    --background-boldest: var(--blue-1000);
    --background-boldest-hovered: var(--blue-900);
    --background-boldest-pressed: var(--blue-800);
}

:root[data-mode="dark"] {
    --neutral-0: #161A1D;
    --neutral-100: #1D2125;
    --neutral-200: #22272B;
    --neutral-250: #282E33;
    --neutral-300: #2C333A;
    --neutral-350: #38414A;
    --neutral-400: #454F59;
    --neutral-500: #596773;
    --neutral-600: #738496;
    --neutral-700: #8C9BAB;
    --neutral-800: #9FADBC;
    --neutral-900: #B6C2CF;
    --neutral-1000: #C7D1DB;
    --neutral-1100: #DEE4EA;

    --neutral-100-A: #BCD6F00A;
    --neutral-200-A: #A1BDD914;
    --neutral-250-A: #C8E1F91A;
    --neutral-300-A: #A6C5E229;
    --neutral-350-A: #C3DEFE33;
    --neutral-400-A: #BFDBF847;
    --neutral-500-A: #9BB4CA80;
}
